In [2]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
#Import All CSV Files
#math
math_09 = pd.read_csv("Resources/Education Data/2009 Math .csv")
math_09_df = pd.DataFrame(math_09)
math_11 = pd.read_csv("Resources/Education Data/2011 Math .csv")
math_11_df = pd.DataFrame(math_11)
math_13 = pd.read_csv("Resources/Education Data/2013 math.csv")
math_13_df = pd.DataFrame(math_13)
math_15 = pd.read_csv("Resources/Education Data/2015 Math .csv")
math_15_df = pd.DataFrame(math_15)
math_17 = pd.read_csv("Resources/Education Data/2017 Math .csv")
math_17_df = pd.DataFrame(math_17)
math_19 = pd.read_csv("Resources/Education Data/2019 Math.csv")
math_19_df = pd.DataFrame(math_19)

#reading
reading_09 = pd.read_csv("Resources/Education Data/2009 Reading .csv")
reading_09_df = pd.DataFrame(reading_09)
reading_11 = pd.read_csv("Resources/Education Data/2011 reading .csv")
reading_11_df = pd.DataFrame(reading_11)
reading_13 = pd.read_csv("Resources/Education Data/2013 reading.csv")
reading_13_df = pd.DataFrame(reading_13)
reading_15 = pd.read_csv("Resources/Education Data/2015 Math .csv")
reading_15_df = pd.DataFrame(reading_15)
reading_17 = pd.read_csv("Resources/Education Data/2017 Reading .csv")
reading_17_df = pd.DataFrame(reading_17)
reading_19 = pd.read_csv("Resources/Education Data/2019 Reading.csv")
reading_19_df = pd.DataFrame(reading_19)

In [4]:
# Preview dfs
math_09_df

            Jurisdiction   MN SigDiff SigSymbol  AB  AP
0          Massachusetts  252      13         ▲  92  57
1          New Hampshire  251      12         ▲  92  56
2              Minnesota  249      10         ▲  89  54
3                Vermont  248       9         ▲  89  51
4             New Jersey  247       7         ▲  88  49
5                 Kansas  245       6         ▲  89  46
6           North Dakota  245       6         ▲  91  45
7            Connecticut  245       6         ▲  86  46
8                  Maine  244       5         ▲  87  45
9                Montana  244       5         ▲  88  45
10              Maryland  244       5         ▲  85  44
11        North Carolina  244       5         ▲  87  43
12                  Ohio  244       5         ▲  85  45
13          Pennsylvania  244       4         ▲  84  46
14             Wisconsin  244       4         ▲  85  45
15              Colorado  243       4         ▲  84  45
16              Virginia  243       4         ▲  85  43
17               Indiana  243       4         ▲  87  42
18                  Iowa  243       4         ▲  87  41
19            Washington  242       3         ▲  84  43
20          South Dakota  242       3         ▲  86  42
21               Wyoming  242       3         ▲  87  40
22               Florida  242       3         ▲  86  40
23                 Idaho  241       2         ▲  85  41
24              Missouri  241       2         ♦  83  41
25              New York  241       2         ▲  83  40
26                 Texas  240       1         ♦  85  38
27                  Utah  240       1         ♦  81  41
28                 DoDEA  240       1         ▲  86  38
29              Delaware  239       #         ♦  84  36
30       National public  239       †       NaN  81  38
31              Kentucky  239       #         ♦  81  37
32          Rhode Island  239       #         ♦  81  39
33              Nebraska  239       #         ♦  82  38
34              Illinois  238      -1         ♦  80  38
35                Oregon  238      -1         ♦  80  37
36              Arkansas  238      -2         ♦  80  36
37                Alaska  237      -2         ♦  78  38
38              Oklahoma  237      -2         ▼  82  33
39              Michigan  236      -3         ▼  78  35
40               Georgia  236      -3         ▼  78  34
41                Hawaii  236      -3         ▼  77  37
42        South Carolina  236      -3         ▼  78  34
43                Nevada  235      -4         ▼  79  32
44         West Virginia  233      -6         ▼  77  28
45             Tennessee  232      -7         ▼  74  28
46            California  232      -7         ▼  72  30
47            New Mexico  230      -9         ▼  72  26
48               Arizona  230      -9         ▼  71  28
49             Louisiana  229     -10         ▼  72  23
50               Alabama  228     -11         ▼  70  24
51           Mississippi  227     -12         ▼  69  22
52  District of Columbia  219     -20         ▼  56  17
53           Puerto Rico    —       †       NaN   —   —

In [5]:
#Drop SigDiff and SigSymbol off all csv
#math
math_09_df = math_09_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
math_11_df = math_11_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
math_13_df = math_13_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
math_15_df = math_15_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
math_17_df = math_17_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
math_19_df = math_19_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)

#reading
reading_09_df = reading_09_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
reading_11_df = reading_11_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
reading_13_df = reading_13_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
reading_15_df = reading_15_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
reading_17_df = reading_17_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)
reading_19_df = reading_19_df.drop(['SigDiff', 'SigSymbol', 'AB', 'AP'], axis=1)

In [6]:
#preview dfs
reading_09_df

            Jurisdiction   MN
0          Massachusetts  234
1             New Jersey  229
2          New Hampshire  229
3            Connecticut  229
4                Vermont  229
5                  DoDEA  228
6               Virginia  227
7               Maryland  226
8           North Dakota  226
9               Colorado  226
10               Florida  226
11              Kentucky  226
12              Delaware  226
13               Montana  225
14                  Ohio  225
15              New York  224
16                Kansas  224
17              Missouri  224
18                 Maine  224
19          Pennsylvania  224
20             Minnesota  223
21          Rhode Island  223
22               Indiana  223
23               Wyoming  223
24              Nebraska  223
25          South Dakota  222
26                  Iowa  221
27            Washington  221
28                 Idaho  221
29             Wisconsin  220
30       National public  220
31        North Carolina  219
32                  Utah  219
33              Illinois  219
34                 Texas  219
35              Michigan  218
36                Oregon  218
37               Georgia  218
38              Oklahoma  217
39             Tennessee  217
40               Alabama  216
41              Arkansas  216
42        South Carolina  216
43         West Virginia  215
44                Nevada  211
45                Alaska  211
46                Hawaii  211
47           Mississippi  211
48               Arizona  210
49            California  210
50            New Mexico  208
51             Louisiana  207
52  District of Columbia  202
53           Puerto Rico    —

In [7]:
#rename column to include year, change Jurisdiction to State
#math
math_09_df = math_09_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Math Score 09'})
math_11_df = math_11_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Math Score 11'})
math_13_df = math_13_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Math Score 13'})
math_15_df = math_15_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Math Score 15'})
math_17_df = math_17_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Math Score 17'})
math_19_df = math_19_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Math Score 19'})

#reading
reading_09_df = reading_09_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Reading Score 09'})
reading_11_df = reading_11_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Reading Score 11'})
reading_13_df = reading_13_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Reading Score 13'})
reading_15_df = reading_15_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Reading Score 15'})
reading_17_df = reading_17_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Reading Score 17'})
reading_19_df = reading_19_df.rename(columns = {'Jurisdiction' : 'State', 'MN' : 'NAEP Reading Score 19'})

In [8]:
#preview dfs

reading_15_df

                   State  NAEP Reading Score 15
0          Massachusetts                    251
1              Minnesota                    250
2          New Hampshire                    249
3                Indiana                    248
4                  DoDEA                    248
5                Wyoming                    247
6               Virginia                    247
7             New Jersey                    245
8             Washington                    245
9           North Dakota                    245
10                 Texas                    244
11              Nebraska                    244
12        North Carolina                    244
13                  Ohio                    244
14                  Iowa                    243
15          Pennsylvania                    243
16             Wisconsin                    243
17               Vermont                    243
18               Florida                    243
19                  Utah                    243
20                 Maine                    242
21              Kentucky                    242
22              Colorado                    242
23               Montana                    241
24                Kansas                    241
25             Tennessee                    241
26           Connecticut                    240
27       National public                    240
28              Oklahoma                    240
29          South Dakota                    240
30              Maryland                    239
31              Missouri                    239
32                 Idaho                    239
33              Delaware                    239
34          Rhode Island                    238
35                Hawaii                    238
36                Oregon                    238
37               Arizona                    238
38              Illinois                    237
39        South Carolina                    237
40              New York                    237
41               Georgia                    236
42                Alaska                    236
43              Michigan                    236
44              Arkansas                    235
45         West Virginia                    235
46             Louisiana                    234
47           Mississippi                    234
48                Nevada                    234
49            California                    232
50  District of Columbia                    231
51            New Mexico                    231
52               Alabama                    231
53           Puerto Rico                    183

In [9]:
#Merge the dfs
#math
new_math_df = math_09_df.merge(math_11_df, on = 'State')
new_math_df = new_math_df.merge(math_13_df, on = 'State')
new_math_df = new_math_df.merge(math_15_df, on = 'State')
new_math_df = new_math_df.merge(math_17_df, on = 'State')
new_math_df = new_math_df.merge(math_19_df, on = 'State')

#reading
new_reading_df = reading_09_df.merge(reading_11_df, on = 'State')
new_reading_df = new_reading_df.merge(reading_13_df, on = 'State')
new_reading_df = new_reading_df.merge(reading_15_df, on = 'State')
new_reading_df = new_reading_df.merge(reading_17_df, on = 'State')
new_reading_df = new_reading_df.merge(reading_19_df, on = 'State')

In [10]:
#preview dfs
new_math_df

,State,NAEP Math Score 09,NAEP Math Score 11,NAEP Math Score 13,NAEP Math Score 15,NAEP Math Score 17,NAEP Math Score 19
0,Massachusetts,252,253,253,251,249,247
1,New Hampshire,251,252,253,249,245,245
2,Minnesota,249,249,253,250,249,248
3,Vermont,248,247,248,243,241,239
4,New Jersey,247,248,247,245,248,246
5,Kansas,245,246,246,241,241,239
6,North Dakota,245,245,246,245,244,243
7,Connecticut,245,242,243,240,239,243
8,Maine,244,244,246,242,240,241
9,Montana,244,244,244,241,241,241
10,Maryland,244,247,245,239,241,239
11,North Carolina,244,245,245,244,241,241
12,Ohio,244,244,246,244,241,241
13,Pennsylvania,244,246,244,243,242,244
14,Wisconsin,244,245,245,243,240,242
15,Colorado,243,244,247,242,241,242
16,Virginia,243,245,246,247,248,247
17,Indiana,243,244,249,248,247,245
18,Iowa,243,243,246,243,243,241
19,Washington,242,243,246,245,242,240
20,South Dakota,242,241,241,240,242,241
21,Wyoming,242,244,247,247,248,246
22,Florida,242,240,242,243,246,246
23,Idaho,241,240,241,239,240,242
24,Missouri,241,240,240,239,240,238
25,New York,241,238,240,237,236,237
26,Texas,240,241,242,244,241,244
27,Utah,240,243,243,243,242,244
28,DoDEA,240,241,245,248,249,250
29,Delaware,239,240,243,239,236,239
30,National public,239,240,241,240,239,240
31,Kentucky,239,241,241,242,239,239
32,Rhode Island,239,242,241,238,238,239
33,Nebraska,239,240,243,244,246,244
34,Illinois,238,239,239,237,238,237
35,Oregon,238,237,240,238,233,236
36,Arkansas,238,238,240,235,234,233
37,Alaska,237,236,236,236,230,232
38,Oklahoma,237,237,239,240,237,237
39,Michigan,236,236,237,236,236,236
40,Georgia,236,238,240,236,236,238
41,Hawaii,236,239,243,238,238,239
42,South Carolina,236,237,237,237,234,237
43,Nevada,235,237,236,234,232,236
44,West Virginia,233,235,237,235,236,231
45,Tennessee,232,233,240,241,237,240
46,California,232,234,234,232,232,235
47,New Mexico,230,233,233,231,230,231
48,Arizona,230,235,240,238,234,238
49,Louisiana,229,231,231,234,229,231
50,Alabama,228,231,233,231,232,230
51,Mississippi,227,230,231,234,235,241
52,District of Columbia,219,222,229,231,231,235
53,Puerto Rico,—,182,182,183,190,185

In [11]:
#reset state as index
reset_math_df = new_math_df.set_index('State')
reset_reading_df = new_reading_df.set_index('State')

#drop DoDEA and Puerto Rico
clean_math_df = reset_math_df.drop(['DoDEA', 'Puerto Rico'])
clean_reading_df = reset_reading_df.drop(['DoDEA', 'Puerto Rico'])

In [12]:
#preview dfs
clean_math_df

,NAEP Math Score 09,NAEP Math Score 11,NAEP Math Score 13,NAEP Math Score 15,NAEP Math Score 17,NAEP Math Score 19
State,,,,,,
Massachusetts,252,253,253,251,249,247
New Hampshire,251,252,253,249,245,245
Minnesota,249,249,253,250,249,248
Vermont,248,247,248,243,241,239
New Jersey,247,248,247,245,248,246
Kansas,245,246,246,241,241,239
North Dakota,245,245,246,245,244,243
Connecticut,245,242,243,240,239,243
Maine,244,244,246,242,240,241
Montana,244,244,244,241,241,241
Maryland,244,247,245,239,241,239
North Carolina,244,245,245,244,241,241
Ohio,244,244,246,244,241,241
Pennsylvania,244,246,244,243,242,244
Wisconsin,244,245,245,243,240,242
Colorado,243,244,247,242,241,242
Virginia,243,245,246,247,248,247
Indiana,243,244,249,248,247,245
Iowa,243,243,246,243,243,241
Washington,242,243,246,245,242,240
South Dakota,242,241,241,240,242,241
Wyoming,242,244,247,247,248,246
Florida,242,240,242,243,246,246
Idaho,241,240,241,239,240,242
Missouri,241,240,240,239,240,238
New York,241,238,240,237,236,237
Texas,240,241,242,244,241,244
Utah,240,243,243,243,242,244
Delaware,239,240,243,239,236,239
National public,239,240,241,240,239,240
Kentucky,239,241,241,242,239,239
Rhode Island,239,242,241,238,238,239
Nebraska,239,240,243,244,246,244
Illinois,238,239,239,237,238,237
Oregon,238,237,240,238,233,236
Arkansas,238,238,240,235,234,233
Alaska,237,236,236,236,230,232
Oklahoma,237,237,239,240,237,237
Michigan,236,236,237,236,236,236
Georgia,236,238,240,236,236,238
Hawaii,236,239,243,238,238,239
South Carolina,236,237,237,237,234,237
Nevada,235,237,236,234,232,236
West Virginia,233,235,237,235,236,231
Tennessee,232,233,240,241,237,240
California,232,234,234,232,232,235
New Mexico,230,233,233,231,230,231
Arizona,230,235,240,238,234,238
Louisiana,229,231,231,234,229,231
Alabama,228,231,233,231,232,230
Mississippi,227,230,231,234,235,241
District of Columbia,219,222,229,231,231,235

In [13]:
#calc average over time
clean_math_df['Average NAEP Math Score over 10 Years'] = clean_math_df.mean(axis = 1)
final_math_df = clean_math_df['Average NAEP Math Score over 10 Years']
final_math_df = final_math_df.round(2)
final_math_df = final_math_df.to_frame()
final_math_df = final_math_df.reindex(['National public', 'Massachusetts', 'New Hampshire', 'Minnesota', 'Vermont', 'New Jersey',
       'Kansas', 'North Dakota', 'Connecticut', 'Maine', 'Montana', 'Maryland',
       'North Carolina', 'Ohio', 'Pennsylvania', 'Wisconsin', 'Colorado',
       'Virginia', 'Indiana', 'Iowa', 'Washington', 'South Dakota', 'Wyoming',
       'Florida', 'Idaho', 'Missouri', 'New York', 'Texas', 'Utah', 'Delaware', 'Kentucky', 'Rhode Island', 'Nebraska', 'Illinois',
       'Oregon', 'Arkansas', 'Alaska', 'Oklahoma', 'Michigan', 'Georgia',
       'Hawaii', 'South Carolina', 'Nevada', 'West Virginia', 'Tennessee',
       'California', 'New Mexico', 'Arizona', 'Louisiana', 'Alabama',
       'Mississippi', 'District of Columbia'])

clean_reading_df['Average NAEP Reading Score over 10 Years'] = clean_reading_df.mean(axis = 1)
final_reading_df = clean_reading_df['Average NAEP Reading Score over 10 Years']
final_reading_df = final_reading_df.round(2)
final_reading_df = final_reading_df.to_frame()
final_reading_df = final_reading_df.reindex([ 'National public','Massachusetts', 'New Jersey', 'New Hampshire', 'Connecticut',
       'Vermont', 'Virginia', 'Maryland', 'North Dakota', 'Colorado',
       'Florida', 'Kentucky', 'Delaware', 'Montana', 'Ohio', 'New York',
       'Kansas', 'Missouri', 'Maine', 'Pennsylvania', 'Minnesota',
       'Rhode Island', 'Indiana', 'Wyoming', 'Nebraska', 'South Dakota',
       'Iowa', 'Washington', 'Idaho', 'Wisconsin',
       'North Carolina', 'Utah', 'Illinois', 'Texas', 'Michigan', 'Oregon',
       'Georgia', 'Oklahoma', 'Tennessee', 'Alabama', 'Arkansas',
       'South Carolina', 'West Virginia', 'Nevada', 'Alaska', 'Hawaii',
       'Mississippi', 'Arizona', 'California', 'New Mexico', 'Louisiana',
       'District of Columbia'])

In [14]:
#preview final math

final_math_df

                      Average NAEP Math Score over 10 Years
State
National public                                       240.0
Massachusetts                                         250.6
New Hampshire                                         248.8
Minnesota                                             249.8
Vermont                                               243.6
New Jersey                                            246.8
Kansas                                                242.6
North Dakota                                          244.6
Connecticut                                           241.4
Maine                                                 242.6
Montana                                               242.2
Maryland                                              242.2
North Carolina                                        243.2
Ohio                                                  243.2
Pennsylvania                                          243.8
Wisconsin                                             243.0
Colorado                                              243.2
Virginia                                              246.6
Indiana                                               246.6
Iowa                                                  243.2
Washington                                            243.2
South Dakota                                          241.0
Wyoming                                               246.4
Florida                                               243.4
Idaho                                                 240.4
Missouri                                              239.4
New York                                              237.6
Texas                                                 242.4
Utah                                                  243.0
Delaware                                              239.4
Kentucky                                              240.4
Rhode Island                                          239.6
Nebraska                                              243.4
Illinois                                              238.0
Oregon                                                236.8
Arkansas                                              236.0
Alaska                                                234.0
Oklahoma                                              238.0
Michigan                                              236.2
Georgia                                               237.6
Hawaii                                                239.4
South Carolina                                        236.4
Nevada                                                235.0
West Virginia                                         234.8
Tennessee                                             238.2
California                                            233.4
New Mexico                                            231.6
Arizona                                               237.0
Louisiana                                             231.2
Alabama                                               231.4
Mississippi                                           234.2
District of Columbia                                  229.6

In [15]:
#preview final reading
final_reading_df

                      Average NAEP Reading Score over 10 Years
State
National public                                          240.0
Massachusetts                                            251.0
New Jersey                                               245.0
New Hampshire                                            249.0
Connecticut                                              240.0
Vermont                                                  243.0
Virginia                                                 247.0
Maryland                                                 239.0
North Dakota                                             245.0
Colorado                                                 242.0
Florida                                                  243.0
Kentucky                                                 242.0
Delaware                                                 239.0
Montana                                                  241.0
Ohio                                                     244.0
New York                                                 237.0
Kansas                                                   241.0
Missouri                                                 239.0
Maine                                                    242.0
Pennsylvania                                             243.0
Minnesota                                                250.0
Rhode Island                                             238.0
Indiana                                                  248.0
Wyoming                                                  247.0
Nebraska                                                 244.0
South Dakota                                             240.0
Iowa                                                     243.0
Washington                                               245.0
Idaho                                                    239.0
Wisconsin                                                243.0
North Carolina                                           244.0
Utah                                                     243.0
Illinois                                                 237.0
Texas                                                    244.0
Michigan                                                 236.0
Oregon                                                   238.0
Georgia                                                  236.0
Oklahoma                                                 240.0
Tennessee                                                241.0
Alabama                                                  231.0
Arkansas                                                 235.0
South Carolina                                           237.0
West Virginia                                            235.0
Nevada                                                   234.0
Alaska                                                   236.0
Hawaii                                                   238.0
Mississippi                                              234.0
Arizona                                                  238.0
California                                               232.0
New Mexico                                               231.0
Louisiana                                                234.0
District of Columbia                                     231.0

In [77]:
#identify the 5 highest average scores
highest_math_df = final_math_df.sort_values(['Average NAEP Math Score over 10 Years'], ascending=False)
top_5_math_df = highest_math_df.head(5)
print(top_5_math_df)

highest_reading_df = final_reading_df.sort_values(['Average NAEP Reading Score over 10 Years'], ascending=False)
top_5_reading_df = highest_reading_df.head(5)
print(top_5_reading_df)

               Average NAEP Math Score over 10 Years
State
Massachusetts                                  250.6
Minnesota                                      249.8
New Hampshire                                  248.8
New Jersey                                     246.8
Indiana                                        246.6
               Average NAEP Reading Score over 10 Years
State
Massachusetts                                     251.0
Minnesota                                         250.0
New Hampshire                                     249.0
Indiana                                           248.0
Wyoming                                           247.0

In [79]:
#identify the 5 lowest average scores
lowest_math_df = final_math_df.sort_values(['Average NAEP Math Score over 10 Years'], ascending=True)
bottom_5_math_df = lowest_math_df.head(5)
print(bottom_5_math_df)

lowest_reading_df = final_reading_df.sort_values(['Average NAEP Reading Score over 10 Years'], ascending=True)
bottom_5_reading_df = lowest_reading_df.head(5)
print(bottom_5_reading_df)

                      Average NAEP Math Score over 10 Years
State
District of Columbia                                  229.6
Louisiana                                             231.2
Alabama                                               231.4
New Mexico                                            231.6
California                                            233.4
                      Average NAEP Reading Score over 10 Years
State
District of Columbia                                     231.0
New Mexico                                               231.0
Alabama                                                  231.0
California                                               232.0
Nevada                                                   234.0

In [ ]:
#Write the file out for visualization 

#bar graph, country vs all for both math and reading
#add hline = to national public value
#save (.savefig)


#bar graph, top 5 for both math and reading

#bar graph, bottom 5 for both math and reading

Analysis: