Identify the data needed within the Zillow csv

In [1]:
#Import necessary modules
import pandas as pd
import numpy as np
import matplotlib as plt
import scipy.stats as sts

In [8]:
#pull necessary csv "../Resources/Median House Price.csv"
csv_path = "Resources/Median House Price.csv"
house_df = pd.read_csv(csv_path)
house_df
#import csv as dataframe

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
0,102001,0,United States,Country,NaN,107630.0,107657.0,107707.0,107834.0,107977.0,...,247737,248625,249639,250802,252042,253216,254423,255872,257736,259906
1,394913,1,"New York, NY",Msa,NY,187842.0,187403.0,187125.0,186592.0,186274.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,183929.0,184185.0,184205.0,184312.0,184286.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
3,394463,3,"Chicago, IL",Msa,IL,164647.0,164345.0,163946.0,163493.0,162886.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,114406.0,114471.0,114634.0,114962.0,115314.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,75408,75568,75681,75786,75968,76213,76503,76738,76975,77216
910,753874,930,"Craig, CO",Msa,CO,60501.0,60725.0,60961.0,61420.0,61747.0,...,187489,187062,186934,186942,187037,187109,187262,187332,187393,187430
911,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,124046,125836,127175,128373,128879,129605,130574,131262,131311,130703
912,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,69702,69630,69495,69361,69277,69276,69229,69236,69248,69306
913,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,311672,312028,312133,312265,312191,312216,312121,312147,312419,312663

In [11]:
#clean dataframe, only need years 2009-2019, state name

house_09_to_2020_df = house_df[["StateName","1/31/2009","2/28/2009","3/31/2009","4/30/2009","5/31/2009","6/30/2009","7/31/2009","8/31/2009","9/30/2009","10/31/2009","11/30/2009","12/31/2009",
                            "1/31/2010","2/28/2010","3/31/2010","4/30/2010","5/31/2010","6/30/2010","7/31/2010","8/31/2010","9/30/2010","10/31/2010","11/30/2010","12/31/2010",
                            "1/31/2011","2/28/2011","3/31/2011","4/30/2011","5/31/2011","6/30/2011","7/31/2011","8/31/2011","9/30/2011","10/31/2011","11/30/2011","12/31/2011",
                            "1/31/2012","2/29/2012","3/31/2012","4/30/2012","5/31/2012","6/30/2012","7/31/2012","8/31/2012","9/30/2012","10/31/2012","11/30/2012","12/31/2012",
                            "1/31/2013","2/28/2013","3/31/2013","4/30/2013","5/31/2013","6/30/2013","7/31/2013","8/31/2013","9/30/2013","10/31/2013","11/30/2013","12/31/2013",
                            "1/31/2014","2/28/2014","3/31/2014","4/30/2014","5/31/2014","6/30/2014","7/31/2014","8/31/2014","9/30/2014","10/31/2014","11/30/2014","12/31/2014",
                            "1/31/2015","2/28/2015","3/31/2015","4/30/2015","5/31/2015","6/30/2015","7/31/2015","8/31/2015","9/30/2015","10/31/2015","11/30/2015","12/31/2015",
                            "1/31/2016","2/29/2016","3/31/2016","4/30/2016","5/31/2016","6/30/2016","7/31/2016","8/31/2016","9/30/2016","10/31/2016","11/30/2016","12/31/2016",
                            "1/31/2017","2/28/2017","3/31/2017","4/30/2017","5/31/2017","6/30/2017","7/31/2017","8/31/2017","9/30/2017","10/31/2017","11/30/2017","12/31/2017",
                            "1/31/2018","2/28/2018","3/31/2018","4/30/2018","5/31/2018","6/30/2018","7/31/2018","8/31/2018","9/30/2018","10/31/2018","11/30/2018","12/31/2018",
                            "1/31/2019","2/28/2019","3/31/2019","4/30/2019","5/31/2019","6/30/2019","7/31/2019","8/31/2019","9/30/2019","10/31/2019","11/30/2019","12/31/2019"]]

#clean out NaN values (df.dropna(how='any'))
clean_house_df = house_09_to_2020_df.dropna(how="any")

#print dataframe
clean_house_df

,StateName,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,...,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019
1,NY,427033.0,423196.0,419570.0,416142.0,413528.0,410668.0,408160.0,405503.0,403720.0,...,478130,478733,479568,480426,481178,481390,480752,480060,479577,479999
2,CA,437562.0,433213.0,429993.0,426778.0,423950.0,421358.0,420187.0,420215.0,421197.0,...,655266,654579,658017,662376,664249,664279,665085,667400,669151,671796
3,IL,242334.0,239308.0,235943.0,233874.0,230841.0,228761.0,226923.0,225491.0,223448.0,...,244071,244754,245443,246025,246377,246414,245994,245642,245289,245373
4,TX,154006.0,154339.0,154781.0,154868.0,154818.0,154580.0,154501.0,154395.0,154547.0,...,256260,256605,257256,257749,258250,258636,259309,259667,260082,260294
5,PA,238208.0,237023.0,236082.0,235217.0,234282.0,233330.0,232428.0,231842.0,231470.0,...,246850,247525,248434,249027,249787,250237,250510,250831,251227,251872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,TX,61688.0,61149.0,61020.0,60955.0,60598.0,60100.0,59400.0,58999.0,58642.0,...,90208,90495,90552,90642,90673,91003,91146,91310,91194,91027
909,TX,44748.0,44749.0,44764.0,44707.0,44718.0,44495.0,44269.0,44018.0,43959.0,...,72109,72634,73063,73455,73822,74199,74523,74906,75174,75408
910,CO,139820.0,139649.0,139471.0,139302.0,139122.0,138893.0,138661.0,138286.0,137924.0,...,187079,187034,187104,187426,187705,187914,187955,188108,187868,187489
912,TX,50256.0,50244.0,50250.0,50218.0,50187.0,50122.0,50058.0,49938.0,49705.0,...,69232,69399,69474,69571,69654,69735,69677,69674,69639,69702
913,AK,261771.0,261714.0,261516.0,261020.0,260377.0,259728.0,259258.0,258542.0,257950.0,...,301429,303029,304490,305778,307094,308135,309357,310332,311170,311672

In [15]:
#groupby State, calculate the average by state
house_by_state_df = clean_house_df.groupby(['StateName'])
avg_housing_by_year = house_by_state_df.mean()

avg_housing_by_year

,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,...,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019
StateName,,,,,,,,,,,,,,,,,,,,,
AK,266718.500000,266578.500000,266538.000000,266608.750000,266188.500000,265797.250000,265269.250000,264715.500000,264346.250000,263883.000000,...,306614.000000,309068.750000,310306.750000,311492.000000,312275.750000,313221.000000,313703.000000,313918.000000,314210.500000,314695.750000
AL,119441.150000,119130.650000,118790.750000,118396.950000,117862.350000,117278.850000,116644.050000,116097.750000,115549.650000,115064.750000,...,125458.350000,125938.200000,126378.350000,126813.800000,127269.050000,127682.500000,128024.050000,128394.750000,128894.800000,129451.400000
AR,90394.052632,90106.315789,89753.368421,89408.947368,89135.684211,88964.684211,88768.263158,88482.105263,88180.368421,87888.052632,...,104827.842105,105174.157895,105592.842105,105994.894737,106340.789474,106651.263158,106956.157895,107298.894737,107518.578947,107722.736842
AZ,188815.000000,186882.500000,184801.100000,181958.900000,178939.600000,176372.300000,174000.600000,171516.000000,169079.200000,167036.000000,...,227209.700000,227956.800000,229065.200000,230401.900000,231840.400000,232927.200000,233639.800000,234418.000000,235134.200000,236309.700000
CA,297412.818182,293679.818182,289793.636364,286248.666667,283193.939394,281002.636364,279562.939394,277955.545455,276514.636364,275767.818182,...,443911.606061,444609.848485,445798.636364,447404.484848,447734.575758,447392.454545,447145.272727,447730.818182,448571.151515,449766.212121
CO,260109.500000,259306.187500,258383.625000,257457.250000,256806.312500,256420.562500,255995.687500,255315.062500,254208.375000,253225.875000,...,378722.937500,380075.437500,381246.000000,382465.875000,383666.062500,384632.125000,385300.625000,385649.062500,385892.375000,386435.312500
CT,307567.800000,305848.200000,303683.200000,301294.000000,298279.400000,295797.400000,293589.600000,292604.200000,291396.000000,290877.400000,...,274077.800000,275083.200000,276015.200000,276154.600000,275891.800000,275156.800000,274637.200000,274372.400000,274196.800000,274359.600000
DC,352985.000000,348427.000000,344218.000000,340797.000000,338586.000000,337220.000000,336464.000000,335587.000000,334582.000000,334078.000000,...,425066.000000,425973.000000,427054.000000,428033.000000,428503.000000,429162.000000,429968.000000,431383.000000,432739.000000,433952.000000
DE,249384.000000,247632.000000,246491.000000,244821.500000,243019.000000,241136.000000,239969.000000,239057.000000,238087.000000,236646.500000,...,239529.000000,239890.000000,240851.500000,241946.500000,242742.000000,243601.500000,244164.500000,244523.000000,244563.500000,244920.000000
FL,161746.000000,159399.107143,156960.250000,154360.571429,152141.535714,150021.035714,148263.107143,146655.571429,145259.642857,144099.857143,...,202163.607143,202719.821429,203192.464286,203793.928571,204502.107143,205099.571429,205571.178571,206017.535714,206599.357143,207276.035714
GA,112500.405405,112007.918919,111460.810811,110685.783784,109834.378378,108917.972973,108115.378378,107272.297297,106489.567568,105722.000000,...,130985.729730,131423.756757,131857.540541,132338.648649,132824.405405,133335.513514,133753.837838,134185.000000,134374.108108,134549.486486
HI,527625.333333,522337.666667,518035.666667,513670.333333,508321.333333,502089.333333,497677.333333,494972.333333,492400.000000,488881.666667,...,658115.333333,658020.000000,658194.666667,659712.666667,661995.666667,664026.333333,665156.000000,666844.333333,667942.000000,670156.666667
IA,117040.095238,116999.571429,116956.190476,116876.476190,116800.714286,116701.333333,116566.238095,116411.523810,116212.714286,116035.190476,...,142621.571429,143058.333333,143424.000000,143836.380952,144214.809524,144692.380952,145031.047619,145412.000000,145653.000000,145969.142857
ID,204599.416667,202754.750000,201147.666667,199423.333333,197774.416667,195905.500000,194113.916667,192180.750000,190365.000000,188688.500000,...,266707.250000,268530.666667,270430.250000,272051.583333,273607.750000,275275.666667,276985.833333,278491.166667,279828.166667,281120.333333
IL,105022.480000,104486.720000,103946.240000,103411.840000,102829.440000,102262.520000,101744.760000,101187.480000,100691.320000,100271.720000,...,112214.520000,112489.480000,112891.640000,113272.480000,113619.120000,113810.680000,113921.400000,114021.040000,114078.760000,114174.400000
IN,104019.441176,103883.323529,103743.205882,103485.176471,103238.382353,102938.764706,102602.294118,102261.558824,101985.235294,101734.970588,...,127512.058824,128143.470588,128835.147059,129538.500000,130207.205882,130817.029412,131297.882353,131801.058824,132256.764706,132750.941176
KS,105692.285714,105623.928571,105604.142857,105610.857143,105536.285714,105417.285714,105281.857143,105110.285714,104935.857143,104690.000000,...,124787.714286,125115.500000,125455.000000,125857.500000,126377.928571,126737.714286,127062.142857,127325.285714,127584.571429,127903.642857
KY,100607.600000,100541.650000,100402.900000,100280.400000,100097.850000,99945.750000,99751.100000,99481.300000,99182.100000,98938.650000,...,123234.350000,123871.400000,124503.250000,125167.850000,125781.050000,126227.600000,126612.900000,127000.800000,127349.650000,127710.700000
LA,114662.214286,114715.857143,114672.357143,114700.500000,114543.428571,114293.785714,114059.928571,113827.000000,113674.714286,113451.142857,...,130243.214286,130432.928571,130763.428571,131028.285714,131261.214286,131389.285714,131513.142857,131667.857143,131722.642857,131934.500000
MA,323050.714286,320601.142857,318700.857143,316871.285714,315503.000000,313837.000000,312640.000000,311730.285714,311693.428571,311604.571429,...,388086.428571,389058.428571,390882.142857,392688.857143,393399.857143,393334.000000,393167.571429,393687.428571,394317.714286,395191.285714
MD,230114.000000,227811.000000,225702.000000,223333.666667,220822.833333,218623.000000,216950.500000,215758.000000,214621.666667,213493.166667,...,222260.000000,222892.333333,223597.833333,224408.833333,224981.666667,225341.333333,225308.000000,225166.833333,224934.000000,225035.666667
ME,174362.000000,173461.750000,172392.000000,171404.250000,169881.000000,168793.750000,167732.750000,167161.000000,166468.000000,165781.250000,...,195696.000000,196335.500000,196895.000000,198156.500000,199165.250000,199880.000000,200564.250000,201411.750000,202733.750000,204072.750000
MI,110862.575758,110010.424242,109126.666667,108276.393939,107319.484848,106459.818182,105707.333333,105002.212121,104418.939394,103935.000000,...,144141.636364,144823.060606,145548.393939,146302.121212,147041.363636,147616.363636,148072.636364,148485.303030,148945.272727,149457.333333
MN,157437.611111,156709.944444,155613.222222,154656.166667,153674.611111,152823.444444,151862.833333,150868.611111,149798.555556,148899.166667,...,195409.222222,196113.333333,196827.555556,197605.333333,198446.944444,199188.722222,199904.055556,200517.944444,200960.555556,201440.388889
MO,109497.086957,109216.869565,108888.173913,108495.130435,107958.130435,107388.913043,106880.608696,106501.217391,106189.913043,105875.347826,...,130293.304348,130850.304348,131503.913043,132090.608696,132611.086957,133018.478261,133384.521739,133822.173913,134259.000000,134702.652174
MS,105623.125000,105380.375000,105163.250000,105013.000000,104855.125000,104685.500000,104508.000000,104262.750000,103992.500000,103708.812500,...,116562.062500,117104.625000,117444.500000,117721.875000,117930.500000,118225.687500,118534.562500,118780.500000,119020.750000,119264.062500
MT,225370.833333,224720.833333,224144.333333,223483.666667,222934.833333,222165.833333,221458.500000,220377.833333,219191.833333,218268.666667,...,292180.833333,293696.833333,294921.666667,296735.666667,298139.500000,300034.833333,300860.666667,301897.333333,302628.833333,303997.500000
NC,156826.388889,156439.805556,155917.694444,155127.722222,154213.750000,153372.472222,152586.555556,151779.805556,150943.277778,150224.000000,...,166765.611111,167438.805556,168144.916667,168838.833333,169412.444444,169980.416667,170512.972222,171076.000000,171585.083333,172108.638889
ND,136513.833333,136760.833333,137082.000000,137215.333333,137329.833333,137433.333333,137559.166667,137766.666667,137966.000000,138189.333333,...,219104.666667,219443.666667,219929.500000,220615.166667,221294.333333,222077.500000,222750.333333,223649.833333,224109.166667,224586.833333
NE,108311.166667,108235.916667,108235.666667,108199.416667,108203.333333,108111.916667,108015.416667,107865.750000,107814.750000,107860.416667,...,153149.000000,153808.750000,154499.333333,155124.416667,155736.083333,156365.583333,156935.166667,157531.166667,157771.833333,157998.250000
NH,194297.666667,193483.000000,192790.833333,191400.833333,190131.500000,188850.500000,187840.666667,186977.833333,186265.000000,185720.666667,...,223712.833333,224387.166667,225675.333333,226880.833333,228153.166667,228493.000000,228892.833333,229306.833333,230143.500000,231079.833333
NJ,278732.250000,277779.500000,276199.500000,272981.750000,269400.750000,265587.000000,262104.750000,259969.000000,258939.000000,258872.250000,...,240125.000000,240605.750000,241446.000000,241443.250000,241620.500000,241637.750000,242161.500000,242546.250000,242977.000000,243878.250000
NM,158983.071429,158218.785714,157150.000000,156151.285714,155074.071429,154131.857143,152982.571429,152024.071429,151154.928571,150659.071429,...,166929.000000,167655.642857,168759.571429,169896.428571,171028.500000,171790.571429,172343.857143,172728.214286,173028.357143,173510.214286
NV,200331.125000,196834.750000,193121.375000,189631.250000,185847.625000,182083.250000,178464.125000,175427.375000,172915.625000,170762.125000,...,307129.875000,307836.000000,308929.375000,309950.375000,310717.250000,311038.875000,311240.000000,311894.500000,312728.625000,313498.375000
NY,137350.846154,136883.307692,136369.461538,135862.000000,135206.346154,134588.846154,134023.192308,133538.576923,133142.230769,132978.846154,...,155046.653846,155547.653846,156092.653846,156426.346154,156706.884615,156935.538462,157151.923077,157489.115385,157760.846154,158236.730769
OH,103649.577778,103295.844444,102931.622222,102606.933333,102241.488889,101836.533333,101387.000000,100991.311111,100625.955556,100376.822222,...,122898.933333,123533.911111,124076.711111,124598.244444,125143.577778,125707.466667,126256.066667,126759.377778,127165.622222,127493.711111
OK,82322.400000,82355.300000,82439.050000,82572.500000,82647.950000,82663.450000,82681.400000,82675.950000,82697.850000,82690.800000,...,98894.900000,99291.200000,99687.900000,100176.700000,100692.100000,101070.800000,101329.600000,101560.450000,102001.550000,102586.550000
OR,219593.263158,217385.842105,215077.105263,212625.105263,210327.894737,208186.210526,206298.315789,204512.052632,203034.105263,201670.157895,...,289136.684211,289778.368421,290852.526316,292218.000000,293543.315789,294687.842105,295366.789474,296275.842105,297035.947368,298352.473684
PA,133453.193548,133120.516129,132786.064516,132418.870968,131947.870968,131475.032258,131013.967742,130587.741935,130275.645161,130014.967742,...,149415.129032,149891.774194,150383.774194,151009.419355,151559.548387,152102.548387,152535.870968,152995.935484,153337.290323,153771.064516
RI,271064.000000,268264.000000,265485.000000,263277.000000,260963.000000,259205.000000,257713.000000,256852.000000,256453.000000,256467.000000,...,311415.000000,312421.000000,313649.000000,314824.000000,315808.000000,316201.000000,316266.000000,316556.000000,317828.000000,318927.000000
SC,151364.214286,150441.214286,149585.428571,148603.928571,147490.214286,146147.214286,145015.000000,144055.142857,143364.714286,142792.571429,...,169012.571429,169488.142857,169870.214286,170306.571429,170871.714286,171465.357143,171878.857143,172226.571429,172485.214286,172924.357143
SD,141341.444444,141312.111111,141203.111111,141074.888889,140910.000000,140584.333333,140080.111111,139477.000000,138942.222222,138530.333333,...,187353.333333,187724.666667,188375.111111,188993.666667,189587.888889,190017.000000,190431.777778,190874.111111,191319.666667,191824.666667
TN,115609.384615,115327.461538,115003.269231,114646.730769,114079.346154,113460.846154,112881.692308,112466.076923,112120.269231,111899.423077,...,142782.961538,143281.615385,143881.000000,144418.000000,144955.346154,145663.884615,146436.653846,147238.230769,147982.423077,148805.576923
TX,101530.718750,101436.734375,101424.468750,101293.187500,101149.421875,100914.953125,100670.031250,100462.250000,100265.890625,100133.968750,...,142758.515625,143356.000000,143924.437500,144445.250000,144969.109375,145465.406250,145928.125000,146307.593750,146544.609375,146785.015625
UT,249257.300000,247105.500000,244960.800000,242849.700000,240421.500000,237983.600000,235831.700000,233645.200000,231712.500000,230089.400000,...,342861.400000,343942.500000,345294.300000,346957.100000,348390.300000,349416.000000,350524.000000,351458.300000,352528.400000,353446.500000
VA,171602.416667,170771.750000,169764.083333,168470.583333,167312.416667,166294.583333,165605.083333,164852.416667,164126.333333,163218.833333,...,186134.916667,186890.666667,187532.583333,188191.000000,188828.750000,189548.833333,190180.916667,190717.833333,190888.333333,191052.166667
VT,218574.250000,218337.000000,218092.250000,217900.250000,217867.750000,217677.750000,217169.500000,216267.250000,215482.500000,214836.000000,...,238632.250000,239519.000000,240120.500000,240679.500000,241272.000000,241968.250000,242589.250000,243112.250000,243552.500000,244090.000000
WA,217130.200000,215400.150000,213523.500000,211220.100000,209283.050000,207635.850000,206340.350000,205188.950000,204069.600000,203189.300000,...,298655.500000,300197.900000,302018.350000,304063.200000,305878.700000,307148.700000,308266.850000,309478.750000,311020.150000,312706.100000
WI,140051.458333,139501.625000,138899.833333,138412.916667,137807.333333,137301.291667,136661.291667,136060.416667,135535.333333,135023.291667,...,164030.083333,164897.666667,165676.291667,166511.416667,167243.208333,167970.958333,168616.916667,169330.375000,169989.041667,170697.625000
WV,83324.400000,83397.100000,83411.400000,83258.500000,83035.300000,82773.900000,82484.000000,82295.900000,82229.700000,82240.100000,...,97414.500000,97789.000000,98118.500000,98444.700000,98751.000000,99105.400000,99327.700000,99574.400000,99591.000000,99646.700000
WY,237163.555556,236634.444444,235805.666667,234761.555556,233737.666667,232636.222222,231756.000000,230757.333333,229625.333333,228169.222222,...,272589.000000,274247.111111,276193.777778,278083.333333,279909.444444,281418.444444,282760.666667,283989.444444,285107.111111,286311.444444

In [114]:
state_df = new_df.groupby("StateName").Sum.mean
print(state_df)
state_df.count()

#state_mean = new_df["Sum"].mean()
#new_df["Median House Price"] = state_mean
#new_df


#change index to state name

#Add the median price into a column
#


#calculate average of each state over time

#new_df

<bound method GroupBy.mean of <pandas.core.groupby.generic.SeriesGroupBy object at 0x11b3d6fa0>>

AttributeError: 'function' object has no attribute 'count'

In [84]:
final_df = new_df["StateName", {"Median House Cost Per State": state_mean}]

TypeError: '('StateName', {'Median House Cost Per State': 23810747.82983683})' is an invalid key

In [85]:


#GroupBy State
#groupby State
state_df = new_df.groupby("StateName")
print(state_df)
state_df()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11be640d0>

TypeError: 'DataFrameGroupBy' object is not callable

In [86]:
#identify 5 highest average housing price (sort)

top_5 = final_df.head(5)


#identify 5 lowest average housing price
low_5 =

SyntaxError: invalid syntax (<ipython-input-86-3fa2b5025992>, line 7)

In [87]:
#Visualizations

#bar graph, country vs all

#bar graph, top 5

#bar graph, bottom 5