Identify the data needed within the Zillow csv

In [103]:
#Import necessary modules
import pandas as pd
import numpy as np
import matplotlib as plt
import scipy.stats as sts

In [104]:
#pull necessary csv "../Resources/Median House Price.csv"
csv_path = "Resources/Median House Price.csv"
house_df = pd.read_csv(csv_path)
house_df
#import csv as dataframe

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
0,102001,0,United States,Country,NaN,107630.0,107657.0,107707.0,107834.0,107977.0,...,247737,248625,249639,250802,252042,253216,254423,255872,257736,259906
1,394913,1,"New York, NY",Msa,NY,187842.0,187403.0,187125.0,186592.0,186274.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,183929.0,184185.0,184205.0,184312.0,184286.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
3,394463,3,"Chicago, IL",Msa,IL,164647.0,164345.0,163946.0,163493.0,162886.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,114406.0,114471.0,114634.0,114962.0,115314.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,75408,75568,75681,75786,75968,76213,76503,76738,76975,77216
910,753874,930,"Craig, CO",Msa,CO,60501.0,60725.0,60961.0,61420.0,61747.0,...,187489,187062,186934,186942,187037,187109,187262,187332,187393,187430
911,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,124046,125836,127175,128373,128879,129605,130574,131262,131311,130703
912,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,69702,69630,69495,69361,69277,69276,69229,69236,69248,69306
913,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,311672,312028,312133,312265,312191,312216,312121,312147,312419,312663

In [105]:
#clean out NaN values (df.dropna(how='any'))
clean_house_df.dtypes
#clean_house_df = house_df.dropna(how="any")

#print dataframe

#clean_house_df
#clean dataframe, only need years 2009+, state name

#new_df = clean_house_df.loc[:,"StateName,1/31/2009":"9/30/2020",]

new_df =  clean_house_df[["StateName","1/31/2009","2/28/2009","3/31/2009","4/30/2009","5/31/2009","6/30/2009","7/31/2009","8/31/2009","9/30/2009","10/31/2009","11/30/2009","12/31/2009",
                            "1/31/2010","2/28/2010","3/31/2010","4/30/2010","5/31/2010","6/30/2010","7/31/2010","8/31/2010","9/30/2010","10/31/2010","11/30/2010","12/31/2010",
                            "1/31/2011","2/28/2011","3/31/2011","4/30/2011","5/31/2011","6/30/2011","7/31/2011","8/31/2011","9/30/2011","10/31/2011","11/30/2011","12/31/2011",
                            "1/31/2012","2/29/2012","3/31/2012","4/30/2012","5/31/2012","6/30/2012","7/31/2012","8/31/2012","9/30/2012","10/31/2012","11/30/2012","12/31/2012",
                            "1/31/2013","2/28/2013","3/31/2013","4/30/2013","5/31/2013","6/30/2013","7/31/2013","8/31/2013","9/30/2013","10/31/2013","11/30/2013","12/31/2013",
                            "1/31/2014","2/28/2014","3/31/2014","4/30/2014","5/31/2014","6/30/2014","7/31/2014","8/31/2014","9/30/2014","10/31/2014","11/30/2014","12/31/2014",
                            "1/31/2015","2/28/2015","3/31/2015","4/30/2015","5/31/2015","6/30/2015","7/31/2015","8/31/2015","9/30/2015","10/31/2015","11/30/2015","12/31/2015",
                            "1/31/2016","2/29/2016","3/31/2016","4/30/2016","5/31/2016","6/30/2016","7/31/2016","8/31/2016","9/30/2016","10/31/2016","11/30/2016","12/31/2016",
                            "1/31/2017","2/28/2017","3/31/2017","4/30/2017","5/31/2017","6/30/2017","7/31/2017","8/31/2017","9/30/2017","10/31/2017","11/30/2017","12/31/2017",
                            "1/31/2018","2/28/2018","3/31/2018","4/30/2018","5/31/2018","6/30/2018","7/31/2018","8/31/2018","9/30/2018","10/31/2018","11/30/2018","12/31/2018",
                            "1/31/2019","2/28/2019","3/31/2019","4/30/2019","5/31/2019","6/30/2019","7/31/2019","8/31/2019","9/30/2019","10/31/2019","11/30/2019","12/31/2019",
                            "1/31/2020","2/29/2020","3/31/2020","4/30/2020","5/31/2020","6/30/2020","7/31/2020","8/31/2020","9/30/2020"]]

                        

new_df

,StateName,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
1,NY,427033.0,423196.0,419570.0,416142.0,413528.0,410668.0,408160.0,405503.0,403720.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
2,CA,437562.0,433213.0,429993.0,426778.0,423950.0,421358.0,420187.0,420215.0,421197.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
3,IL,242334.0,239308.0,235943.0,233874.0,230841.0,228761.0,226923.0,225491.0,223448.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
4,TX,154006.0,154339.0,154781.0,154868.0,154818.0,154580.0,154501.0,154395.0,154547.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907
5,PA,238208.0,237023.0,236082.0,235217.0,234282.0,233330.0,232428.0,231842.0,231470.0,...,251872,252632,253576,254324,255509,256799,258666,260637,263126,265912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,OK,73393.0,73814.0,74243.0,74801.0,75055.0,75383.0,75435.0,75301.0,75087.0,...,106806,107442,107741,107938,108115,108297,107930,107460,106965,106926
895,GA,62756.0,62486.0,62200.0,61807.0,61410.0,60924.0,60411.0,59822.0,59325.0,...,78117,77749,77526,77501,77458,77373,77267,77232,77199,77218
897,SD,66390.0,67168.0,67745.0,68066.0,68137.0,68225.0,68468.0,68853.0,69293.0,...,119258,119139,119040,118990,118993,118939,118932,118971,119165,119394
903,MA,622163.0,619265.0,616717.0,614463.0,613232.0,611665.0,610689.0,609388.0,608309.0,...,846525,848421,850955,853024,854697,855380,855611,855889,856684,857879
910,CO,139820.0,139649.0,139471.0,139302.0,139122.0,138893.0,138661.0,138286.0,137924.0,...,187489,187062,186934,186942,187037,187109,187262,187332,187393,187430

In [106]:
copy_df = new_df.copy()
new_df["Sum"] = new_df.sum(axis=1)
new_df

<ipython-input-106-7bc0d1d3351a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Sum"] = new_df.sum(axis=1)

,StateName,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,...,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,Sum
1,NY,427033.0,423196.0,419570.0,416142.0,413528.0,410668.0,408160.0,405503.0,403720.0,...,480758,481745,482804,484104,485517,487279,489670,492875,497090,59403861.0
2,CA,437562.0,433213.0,429993.0,426778.0,423950.0,421358.0,420187.0,420215.0,421197.0,...,675183,680320,685503,689705,691229,692332,696613,703740,711361,74454031.0
3,IL,242334.0,239308.0,235943.0,233874.0,230841.0,228761.0,226923.0,225491.0,223448.0,...,245631,246017,246628,247155,247719,248421,249650,251298,253512,30459620.0
4,TX,154006.0,154339.0,154781.0,154868.0,154818.0,154580.0,154501.0,154395.0,154547.0,...,260750,261428,262440,263584,264699,265992,267485,269183,270907,27168401.0
5,PA,238208.0,237023.0,236082.0,235217.0,234282.0,233330.0,232428.0,231842.0,231470.0,...,252632,253576,254324,255509,256799,258666,260637,263126,265912,31899979.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,OK,73393.0,73814.0,74243.0,74801.0,75055.0,75383.0,75435.0,75301.0,75087.0,...,107442,107741,107938,108115,108297,107930,107460,106965,106926,12136582.0
895,GA,62756.0,62486.0,62200.0,61807.0,61410.0,60924.0,60411.0,59822.0,59325.0,...,77749,77526,77501,77458,77373,77267,77232,77199,77218,8958564.0
897,SD,66390.0,67168.0,67745.0,68066.0,68137.0,68225.0,68468.0,68853.0,69293.0,...,119139,119040,118990,118993,118939,118932,118971,119165,119394,13199461.0
903,MA,622163.0,619265.0,616717.0,614463.0,613232.0,611665.0,610689.0,609388.0,608309.0,...,848421,850955,853024,854697,855380,855611,855889,856684,857879,97998026.0
910,CO,139820.0,139649.0,139471.0,139302.0,139122.0,138893.0,138661.0,138286.0,137924.0,...,187062,186934,186942,187037,187109,187262,187332,187393,187430,23012910.0

In [114]:
state_df = new_df.groupby("StateName").Sum.mean
print(state_df)
state_df.count()

#state_mean = new_df["Sum"].mean()
#new_df["Median House Price"] = state_mean
#new_df


#change index to state name

#Add the median price into a column
#


#calculate average of each state over time

#new_df

<bound method GroupBy.mean of <pandas.core.groupby.generic.SeriesGroupBy object at 0x11b3d6fa0>>

AttributeError: 'function' object has no attribute 'count'

In [84]:
final_df = new_df["StateName", {"Median House Cost Per State": state_mean}]

TypeError: '('StateName', {'Median House Cost Per State': 23810747.82983683})' is an invalid key

In [85]:


#GroupBy State
#groupby State
state_df = new_df.groupby("StateName")
print(state_df)
state_df()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11be640d0>

TypeError: 'DataFrameGroupBy' object is not callable

In [86]:
#identify 5 highest average housing price (sort)

top_5 = final_df.head(5)


#identify 5 lowest average housing price
low_5 =

SyntaxError: invalid syntax (<ipython-input-86-3fa2b5025992>, line 7)

In [87]:
#Visualizations

#bar graph, country vs all

#bar graph, top 5

#bar graph, bottom 5