Identify the data needed within the Zillow csv

In [2]:
#Import necessary modules
import pandas as pd
import numpy as np
import matplotlib as plt
import scipy.stats as sts

In [3]:
#pull necessary csv "../Resources/Median House Price.csv"
csv_path = "Resources/Median House Price.csv"
house_df = pd.read_csv(csv_path)
house_df
#import csv as dataframe

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
0,102001,0,United States,Country,NaN,107630.0,107657.0,107707.0,107834.0,107977.0,...,247737,248625,249639,250802,252042,253216,254423,255872,257736,259906
1,394913,1,"New York, NY",Msa,NY,187842.0,187403.0,187125.0,186592.0,186274.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,183929.0,184185.0,184205.0,184312.0,184286.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
3,394463,3,"Chicago, IL",Msa,IL,164647.0,164345.0,163946.0,163493.0,162886.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,114406.0,114471.0,114634.0,114962.0,115314.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,75408,75568,75681,75786,75968,76213,76503,76738,76975,77216
910,753874,930,"Craig, CO",Msa,CO,60501.0,60725.0,60961.0,61420.0,61747.0,...,187489,187062,186934,186942,187037,187109,187262,187332,187393,187430
911,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,124046,125836,127175,128373,128879,129605,130574,131262,131311,130703
912,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,69702,69630,69495,69361,69277,69276,69229,69236,69248,69306
913,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,311672,312028,312133,312265,312191,312216,312121,312147,312419,312663

In [4]:
#clean out NaN values (df.dropna(how='any'))

clean_house_df = house_df.dropna(how="any")

#print dataframe

clean_house_df
#clean dataframe, only need years 2009+, state name
#new_df = clean_house_df.loc[:,"1/31/2009":"9/30/2020"]
#new_df = clean_house_df[["Statename",new_df]]

#new_df = clean_house_df

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
1,394913,1,"New York, NY",Msa,NY,187842.0,187403.0,187125.0,186592.0,186274.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,183929.0,184185.0,184205.0,184312.0,184286.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
3,394463,3,"Chicago, IL",Msa,IL,164647.0,164345.0,163946.0,163493.0,162886.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,114406.0,114471.0,114634.0,114962.0,115314.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907
5,394974,5,"Philadelphia, PA",Msa,PA,121233.0,121078.0,120937.0,120693.0,120527.0,...,251872,252632,253576,254324,255509,256799,258666,260637,263126,265912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,395236,909,"Woodward, OK",Msa,OK,39762.0,39835.0,40006.0,40279.0,40516.0,...,106806,107442,107741,107938,108115,108297,107930,107460,106965,106926
895,394594,915,"Fitzgerald, GA",Msa,GA,46479.0,46398.0,46423.0,46426.0,46485.0,...,78117,77749,77526,77501,77458,77373,77267,77232,77199,77218
897,394700,917,"Huron, SD",Msa,SD,36673.0,36842.0,36824.0,36847.0,36756.0,...,119258,119139,119040,118990,118993,118939,118932,118971,119165,119394
903,753925,923,"Vineyard Haven, MA",Msa,MA,219262.0,218987.0,218848.0,218937.0,219369.0,...,846525,848421,850955,853024,854697,855380,855611,855889,856684,857879
910,753874,930,"Craig, CO",Msa,CO,60501.0,60725.0,60961.0,61420.0,61747.0,...,187489,187062,186934,186942,187037,187109,187262,187332,187393,187430

In [32]:
#groupby State
state_df = clean_house_df.groupby("StateName")
#state_df

#clean_house_df["Sum"] = clean_house_df.sum(axis=1)
#total_sum = clean_house_df.sum(axis=1)
#clean_house_df["Total Sum"]
clean_house_df






#change index to state name
#clean_house_df.index["StateName"]

#calculate average of each state over time
state_mean = state_df["Sum"].mean()
state_mean

StateName
AK    6.923681e+07
AL    3.768440e+07
AR    2.614204e+07
AZ    5.119049e+07
CA    1.121918e+08
CO    7.225251e+07
CT    7.620023e+07
DC    9.796103e+07
DE    6.637553e+07
FL    4.667718e+07
GA    2.930204e+07
HI    1.348277e+08
IA    3.535320e+07
ID    4.434708e+07
IL    3.277178e+07
IN    3.735780e+07
KS    3.124620e+07
KY    3.210963e+07
LA    3.119072e+07
MA    8.756154e+07
MD    5.950517e+07
ME    4.557214e+07
MI    3.718920e+07
MN    4.838553e+07
MO    3.567768e+07
NC    3.911311e+07
NE    3.989899e+07
NH    5.118939e+07
NJ    6.471866e+07
NV    7.293337e+07
NY    3.606853e+07
OH    3.130806e+07
OK    2.315537e+07
OR    6.257934e+07
PA    3.746271e+07
RI    7.314254e+07
SC    4.978786e+07
SD    2.144558e+07
TN    3.269941e+07
TX    3.912341e+07
UT    6.672549e+07
VA    4.662618e+07
VT    5.562633e+07
WA    6.590326e+07
WI    3.890520e+07
WV    2.334163e+07
Name: Sum, dtype: float64

In [6]:
#identify 5 highest average housing price (sort)

top_5 = final_df.head(5)


#identify 5 lowest average housing price
low_5 =

In [ ]:
#Visualizations

#bar graph, country vs all

#bar graph, top 5

#bar graph, bottom 5